
<footer class="last-section" id="footer">
    <div class="container-fluid">
        <a class="black" href="https://www.linkedin.com/in/iyad-ashraf-707455229/" target="_blank"><i class="social-icon a fa fa-linkedin"></i></a>
        <a class="black" href="" target="_blank"><i class="social-icon a fa fa-linkedin"></i></a>
        <a class="black" href="" target="_blank"><i class="social-icon a fa fa-linkedin"></i></a>
        <a class="black" href="" target="_blank"><i class="social-icon a fa fa-linkedin"></i></a>
        <p>© 2024</p>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
