<footer class="last-section" id="footer">
    <div class="container-fluid d-flex justify-content-center" style="padding: 20px;">
        <!-- Your content here -->
        <a class="black" href="https://www.linkedin.com/in/iyad-ashraf-707455229/" target="_blank"><i
                class="social-icon a fa fa-linkedin"></i></a>
        <a class="black" href="" target="_blank"><i class="social-icon a fa fa-linkedin"></i></a>
        <a class="black" href="" target="_blank"><i class="social-icon a fa fa-linkedin"></i></a>
        <a class="black" href="" target="_blank"><i class="social-icon a fa fa-linkedin"></i></a>
    </div>
    <div class="container-fluid d-flex justify-content-center" style="padding: 20px;">

        <p>© 2024</p>
    </div>
</footer>
</body>

</html>