body {
  background-color: #E8ECEF;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
******************************* .colored-section {
  background-color: #7e898a;
  color: #fff;
}

.white-section {
  background-color: #002029;
}

/* Navigation Bar */

.navbar {
  padding: 0 2%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

/* Title Section */

#title {
  background-color: #D6E4E5;
  color: #fff;
}

.container {
  margin: 0;
  /* padding-top: 11rem; */
  padding-bottom: 3rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  width: max-content;
}

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #65d8e0;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #badcdf;
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

.black {
  color: #425F57;
}

.justify-content-center {
  justify-content: center;
  text-align: center;
}

.main {
  padding: 11rem 0;
}

.myinput {
  width: 30%;
  margin: 0.5rem auto;
}

.last-section
{
  background-color: #D6E4E5;
}

.a{
  font-size: 1.5rem;
}

.navbars {
  padding: 0 2rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  background-color: #D6E4E5;
}

.center {
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
}

.date {
  padding: 2rem;
}

.mybtn {
  margin: 1rem 1rem;
  width: 10%;
}

.reserve-btn1 {
  width: 20%
}

.card-container {
  max-width: 1280px;
  max-height: 100px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.card-container:hover .card {
  opacity: .7;
  cursor: pointer;
  filter: grayscale(1);
}

.card-container .card {
  margin: 10px;
  width: calc(100% / 3 - 20px);
  float: left;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
  background: #FFF;
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
}

.card-container .card:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
  transform: scale(1.025);
  opacity: 1;
  filter: grayscale(0);
  transition: .35s all ease;
}

.card-container .card_clicked {
  margin: 10px;
  width: calc(100% / 3 - 20px);
  float: left;
  /* box-shadow: 0 0 2px 2px rgba(0,0,0,.05); */
  background: #FFF;
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
  box-shadow: 0 0 25px 25px rgba(250, 6, 6, 0.15);
  transform: scale(1.05);
  opacity: 1;
  filter: grayscale(0);
  /* padding-left: 50px; */
  transition: .35s all ease;
}

.card-container .card img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-container .card_clicked img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-container .card .content {
  padding: 15px 20px;
}

.card-container .card_clicked .content {
  padding: 15px 20px;
}

.card-container .card h3 {
  font: 2.8rem/3.4rem 'Bree Serif', serif;
  padding: 0;
  margin: 0 0 10px;
  letter-spacing: -.075rem
}

.card-container .card_clicked h3 {
  font: 2.8rem/3.4rem 'Bree Serif', serif;
  padding: 0;
  margin: 0 0 10px;
  letter-spacing: -.075rem
}

.card-container .card p {
  color: #888;
  padding: 0;
  margin: 0;
  font: 400 1.6rem/2.2rem 'Open Sans script=all', sans-serif;
}

.card-container .card_clicked p {
  color: #888;
  padding: 0;
  margin: 0;
  font: 400 1.6rem/2.2rem 'Open Sans script=all', sans-serif;
}
